In [ ]:
!pip install deep-translator
!pip install geojson

In [1]:
import pandas as pd
import geojson
import numpy as np
from deep_translator import GoogleTranslator

import warnings
warnings.filterwarnings('ignore')

In [2]:
sales_df = pd.read_csv('Resources/sale_clean.csv')
sales_df.head()

,regione,citta,quartiere,prezzo,datetime,posti auto,bagni per stanza,bagni,stanze,ultimo piano,...,giardino privato,impianto allarme,portiere,piscina,villa,intera proprieta,appartamento,attico,loft,mansarda
0,sardegna,Valledoria,Via Alessandro Volta,78000.0,2022-12-17,0,0.333333,1.0,3.0,0,...,0,0,0,0,0,0,1,0,0,0
1,sardegna,San Teodoro,NaN,460000.0,2023-03-31,1,0.666667,2.0,3.0,1,...,0,0,1,1,0,0,1,0,0,0
2,sardegna,Cagliari,Fiera - Monte Mixi,387000.0,2023-04-18,0,0.500000,2.0,4.0,0,...,0,0,0,0,0,0,1,0,0,0
3,sardegna,Cagliari,Piazza Giovanni XXIII,257000.0,2023-04-14,0,0.400000,2.0,5.0,0,...,0,0,0,0,0,0,1,0,0,0
4,sardegna,Budoni,Località Baia Sant'Anna,370000.0,2023-03-31,1,0.666667,2.0,3.0,0,...,1,0,0,0,1,0,0,0,0,0

In [3]:
## translate columns in english
def Translate(italian_input):
    return GoogleTranslator(source='it', target='en').translate(italian_input)

columns_translated = [Translate(c) for c in sales_df.columns]
columns_translated[-1] = "attic2"

columns_translated = [c.replace(" ", "_") for c in columns_translated]
sales_df.columns = columns_translated
sales_df.head()

,region,city,quarter,price,datetime,parking_spaces,bathrooms_per_room,bathrooms,rooms,top_floor,...,private_garden,alarm_system,doorman,pool,villa,entire_property,apartment,attic,lofts,attic2
0,sardegna,Valledoria,Via Alessandro Volta,78000.0,2022-12-17,0,0.333333,1.0,3.0,0,...,0,0,0,0,0,0,1,0,0,0
1,sardegna,San Teodoro,NaN,460000.0,2023-03-31,1,0.666667,2.0,3.0,1,...,0,0,1,1,0,0,1,0,0,0
2,sardegna,Cagliari,Fiera - Monte Mixi,387000.0,2023-04-18,0,0.500000,2.0,4.0,0,...,0,0,0,0,0,0,1,0,0,0
3,sardegna,Cagliari,Piazza Giovanni XXIII,257000.0,2023-04-14,0,0.400000,2.0,5.0,0,...,0,0,0,0,0,0,1,0,0,0
4,sardegna,Budoni,Località Baia Sant'Anna,370000.0,2023-03-31,1,0.666667,2.0,3.0,0,...,1,0,0,0,1,0,0,0,0,0

In [6]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37087 entries, 0 to 37086
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   region               37087 non-null  object
 1   city                 37087 non-null  object
 2   quarter              35154 non-null  object
 3   price                35534 non-null  float64
 4   datetime             37087 non-null  datetime64[ns]
 5   parking_spaces       37087 non-null  int64
 6   bathrooms_per_room   29155 non-null  float64
 7   bathrooms            36480 non-null  float64
 8   rooms                29399 non-null  float64
 9   top_floor            37087 non-null  int64
 10  state                8013 non-null   object
 11  energy_rating        6131 non-null   object
 12  sea_​​View           37082 non-null  float64
 13  centralized_warming  6336 non-null   float64
 14  surface              29813 non-null  float64
 15  furnished            37087 non-null  int64
 16  balcony              37087 non-null  int64
 17  TV_system            37087 non-null  int64
 18  external_exposure    37087 non-null  int64
 19  optic_fiber          37087 non-null  int64
 20  electric_gate        37087 non-null  int64
 21  cellar               37087 non-null  int64
 22  common_garden        37087 non-null  int64
 23  private_garden       37087 non-null  int64
 24  alarm_system         37087 non-null  int64
 25  doorman              37087 non-null  int64
 26  pool                 37087 non-null  int64
 27  villa                37087 non-null  int64
 28  entire_property      37087 non-null  int64
 29  apartment            37087 non-null  int64
 30  attic                37087 non-null  int64
 31  lofts                37087 non-null  int64
 32  attic2               37087 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(20), object(5)
memory usage: 9.3+ MB

In [5]:
sales_df['datetime'] = pd.to_datetime(sales_df['datetime'])

In [11]:
sales_df = sales_df.rename(columns = {'sea_​​View': 'sea_view'})
sales_df.columns

Index(['region', 'city', 'quarter', 'price', 'datetime', 'parking_spaces',
       'bathrooms_per_room', 'bathrooms', 'rooms', 'top_floor', 'state',
       'energy_rating', 'sea_view', 'centralized_warming', 'surface',
       'furnished', 'balcony', 'TV_system', 'external_exposure', 'optic_fiber',
       'electric_gate', 'cellar', 'common_garden', 'private_garden',
       'alarm_system', 'doorman', 'pool', 'villa', 'entire_property',
       'apartment', 'attic', 'lofts', 'attic2'],
      dtype='object')

In [13]:
sales_df = sales_df.drop(columns=['attic2'])
sales_df.head()

,region,city,quarter,price,datetime,parking_spaces,bathrooms_per_room,bathrooms,rooms,top_floor,...,common_garden,private_garden,alarm_system,doorman,pool,villa,entire_property,apartment,attic,lofts
0,sardegna,Valledoria,Via Alessandro Volta,78000.0,2022-12-17,0,0.333333,1.0,3.0,0,...,1,0,0,0,0,0,0,1,0,0
1,sardegna,San Teodoro,NaN,460000.0,2023-03-31,1,0.666667,2.0,3.0,1,...,0,0,0,1,1,0,0,1,0,0
2,sardegna,Cagliari,Fiera - Monte Mixi,387000.0,2023-04-18,0,0.500000,2.0,4.0,0,...,0,0,0,0,0,0,0,1,0,0
3,sardegna,Cagliari,Piazza Giovanni XXIII,257000.0,2023-04-14,0,0.400000,2.0,5.0,0,...,0,0,0,0,0,0,0,1,0,0
4,sardegna,Budoni,Località Baia Sant'Anna,370000.0,2023-03-31,1,0.666667,2.0,3.0,0,...,0,1,0,0,0,1,0,0,0,0

In [14]:
sales_df.to_csv('Output/sales.csv')

In [16]:
sales_df.isnull().values.any()

True

In [38]:
sales_df['price'].isnull().value_counts()

False    35534
True      1553
Name: price, dtype: int64

In [17]:
sales_df.isnull().sum().sum()

117773

In [20]:
sales_df.nunique()

region                   21
city                   2324
quarter                8021
price                  2787
datetime                587
parking_spaces            2
bathrooms_per_room       28
bathrooms                 9
rooms                     5
top_floor                 2
state                     4
energy_rating             8
sea_view                  2
centralized_warming       2
surface                 292
furnished                 2
balcony                   2
TV_system                 2
external_exposure         2
optic_fiber               2
electric_gate             2
cellar                    2
common_garden             2
private_garden            2
alarm_system              1
doorman                   2
pool                      2
villa                     2
entire_property           1
apartment                 2
attic                     2
lofts                     2
dtype: int64

In [22]:
count = sales_df['city'].value_counts()
count

Milano            3237
Roma              2560
Torino            1934
Firenze           1358
Bologna           1302
                  ...
Sovere               1
Parzanica            1
Cornate d'Adda       1
Origgio              1
Riparbella           1
Name: city, Length: 2324, dtype: int64

In [39]:
count[count>100]

Milano                   3237
Roma                     2560
Torino                   1934
Firenze                  1358
Bologna                  1302
Napoli                    884
Catanzaro                 863
Palermo                   533
Venezia                   467
Verona                    414
Parma                     393
Padova                    339
Rimini                    257
Lucca                     250
Reggio Calabria           250
Forte dei Marmi           249
Trieste                   249
Catania                   248
Vicenza                   216
Jesolo                    191
Ravenna                   179
Livorno                   176
Treviso                   160
Cagliari                  158
Pisa                      149
Siracusa                  146
Monza                     145
Modena                    144
Cuneo                     141
Genova                    138
Reggio Emilia             129
San Lazzaro di Savena     127
Prato                     126
Riccione                  123
Moncalieri                123
Novara                    121
Messina                   121
Brescia                   116
Piacenza                  108
Trento                    107
Massa                     105
Scandicci                 105
Name: city, dtype: int64

In [ ]:
file_path = 'Resources/limits_IT_municipalities.geojson'

# Open and read the GeoJSON file
with open(file_path, 'r') as f:
    data = geojson.load(f)

# Now you can work with the GeoJSON data
print(data)